<a href="https://colab.research.google.com/github/B2220270/Prmn2023a/blob/main/my_answer/PythonBasic_1_MyAnswer_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

課題１

In [28]:
for i in range(4):
  n=3-i
  for j in range(n):
    print(' ',end='')
  n2=2*(3-n)+1
  for j in range(n2):
    print('*',end='')
  print()

   *
  ***
 *****
*******

課題２

In [52]:
n=int(input('n='))
for i in range(n):
  m=n-1-i
  for j in range(m):
    print(' ',end='')
  m2=2*(n-1-m)+1
  for j in range(m2):
    print('*',end='')
  print()

n=5
    *
   ***
  *****
 *******
*********

課題３

In [31]:
for i in range(7):
  n=3-i
  if(n<0):
    n=-n
  for j in range(n):
    print(' ',end='')
  n2=2*(3-n)+1
  for j in range(n2):
    print('*',end='')
  print()

   *
  ***
 *****
*******
 *****
  ***
   *

課題４

In [38]:
n=int(input('n='))
for i in range(2*n-1):
  m=n-1-i
  if(m<0):
    m=-m
  for j in range(m):
    print(' ',end='')
  m2=2*(n-1-m)+1
  for j in range(m2):
    print('*',end='')
  print()

n=5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

課題５

In [39]:
for i in range(7):
  n1=4-(i+1)
  if(n1<0):
    n1=-n1
  if(i+1<=4):
    n2=2*(i+1)-1
  else:
    n2=15-2*(i+1)
  if(n2==7):
    for j in range(13):
      print('*',end='')
  else:
    for j in range(n1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
    for j in range(2*n1-1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
  print()

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

課題６

In [42]:
n=int(input('n='))
for i in range(2*n-1):
  n1=n-(i+1)
  if(n1<0):
    n1=-n1
  if(i+1<=n):
    n2=2*(i+1)-1
  else:
    n2=(4*n-1)-2*(i+1)
  if(n2==(2*n-1)):
    for j in range(4*n-3):
      print('*',end='')
  else:
    for j in range(n1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
    for j in range(2*n1-1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
  print()

n=5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *

課題７

In [48]:
for i in range(13):
  if(i+1<=7):
    k=i+1
  else:
    k=i-5
  n1=4-k
  if(n1<0):
    n1=-n1
  if(k<4):
    n2=2*k-1
  else:
    n2=15-2*k
  if(n2==7):
    for j in range(13):
      print('*',end='')
  else:
    for j in range(n1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
    for j in range(2*n1-1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
  print()

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

課題８

In [51]:
n=int(input('n='))
for i in range(4*n-3):
  if(i+1<=2*n-1):
    k=i+1
  else:
    k=i-2*n+3
  n1=n-k
  if(n1<0):
    n1=-n1
  if(k<n):
    n2=2*k-1
  else:
    n2=4*n-1-2*k
  if(n2==2*n-1):
    for j in range(4*n-3):
      print('*',end='')
  else:
    for j in range(n1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
    for j in range(2*n1-1):
      print(' ',end='')
    for j in range(n2):
      print('*',end='')
  print()

n=5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *